#{extends 'main.html' /}
#{set title:'Home' /}

#{form @Application.addItem()}
<div class = "input">
	<p>
        <label for="name">Name: </label>
        <input type="text" name="name" id="name" />
        <label for="id">Comments: </label>
        <input type="text" name="comment" id="comment" />
        <input type="submit" value="Add new item" />
    </p>
</div>
#{/form}

#{form @Application.removeItem()}
<div class = "remove">
	<p>
        <label for="name">Name: </label>
        <input type="text" name="name" id="name" />
        <input type="submit" value="Remove item" />
    </p>
</div>
#{/form}

<table class = "item_table">
	<div class = "item_properties">
		<tr><td>Name</td><td>Comment</td></tr>
	</div>
	#{list items:allItems, as:'item'}
    	<div class="item">
 			<tr><td>${item.name}</td><td>${item.comment}</td></tr>
    	</div>
	#{/list}
</table>